PORT = # port for listening to
MONGODB_USER # mongodb username
MONGODB_PASSWORD # mongodb password
MONGODB_URL # mongodb url
MONGODB_DB # mongodb database name
# mongodb+srv://<username>:<password>@<cluster-url>/<dbname>?retryWrites=true&w=majority&appName=<app-name>


SMTP_HOST=smtp_host_from_brevo
SMTP_PORT=587
SMTP_USER=your_smtp_user@example.com
SMTP_PASSWORD=your_smtp_password
SMTP_FROM=your_email@example.com

JWT_SECRET=your_jwt_secret_key

APP_DOMAIN=http://localhost:3000/auth

CLOUDINARY = {
  CLOUD_NAME: '',
  API_KEY: '',
  API_SECRET: ''
};
